@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  50% { border-color: transparent; }
}

@keyframes zoomIn {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 110% 110%; /* Zoom in by 10% */
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.0);
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation: typing 1s forwards, blinkCaret 0.5s step-end infinite;
}

.animate-zoom-in {
  animation: zoomIn 10s ease-out forwards;
}

.hero-slice {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 600% 100%; /* Fix slice alignment */
  transform: scale(1.2);
  animation: zoomOut 0.8s forwards ease-out;
}

.final-image {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: zoomIn 10s ease-out forwards;
  /* Enable the above animaltion i.e. comment out to enable the zoom animation*/
}


@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 leading-normal;
    font-family: 'Bebas Neue';
    font-size: 18px;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-[#2374e1] text-white hover:bg-[#1b5bb9];
  }
  
  .btn-outline {
    @apply border-2 border-white text-white hover:bg-white hover:text-black;
  }
}